<h1>using Template driven forms</h1>
<hr>

<div class="container">
  <form #regForm="ngForm" (ngSubmit)="Register(regForm)">
    <div>
      <h1>Registration Form</h1>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Full Name" name="fullname" required ngModel #full="ngModel">
      <span *ngIf="full.invalid && full.touched">Please enter the fullname</span>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Designation" name="designation" required ngModel #dsgn="ngModel">
      <span *ngIf="dsgn.invalid && dsgn.touched">Please enter the Designation</span>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Company" name="company" required ngModel #cmpy="ngModel">
      <span *ngIf="cmpy.invalid && cmpy.touched">Please enter the CompanyName</span>
    </div>
    <div class="form-group">
      <label for="">How did you know about this presentation?</label>
      <select class="form-control" name="choose" required ngModel #selt="ngModel">
        <option value=""></option>
        <option value="">Company Website</option>
        <option value=""> Word-of-mouth</option>
        <option value="">Social sites</option>
        <option value="">Others</option>
      </select>
      <span *ngIf="selt.invalid && selt.touched">Please select</span>
    </div>
    <div class="form-group">
      
      <input type="radio" name="rating" required ngModel> <label for="">1</label>
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="reset" value="Reset">
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Register" [disabled]="regForm.invalid">
    </div>
  </form>
</div>
<hr>
<!-- ---------------------------------------------------------------------------------------------- -->
<h1>using Model driven forms or Reactive Form</h1>
<hr>

<div class="container">
  <form [formGroup]="signUpReactiveForm" (ngSubmit)="Reactive(signUpReactiveForm)">
    <div>
      <h1>Registration Form</h1>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Full Name" formControlName='fname'>
      <!-- <span *ngFor="signUpReactiveForm.control['fname'].haserror(required)">Please enter the fullname</span>  -->
      <!-- <span *ngIf="fname.errors.required">Please enter the fullname</span>  -->
      <small [hidden]="signUpReactiveForm.controls.fname.valid || (signUpReactiveForm.controls.fname.untouched && !submitted)">
        Please enter the fullname
      </small>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Designation" formControlName="desgn">
      <!-- <span *ngIf="dsgn.invalid && dsgn.touched">Please enter the Designation</span>  -->
      <small [hidden]="signUpReactiveForm.controls.desgn.valid || (signUpReactiveForm.controls.desgn.untouched && !submitted)">
        Please enter the Designation
      </small>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Company" formControlName="company">
      <!-- <span *ngIf="cmpy.invalid && cmpy.touched">Please enter the CompanyName</span>  -->
      <small [hidden]="signUpReactiveForm.controls.company.valid || (signUpReactiveForm.controls.company.untouched && !submitted)">
        Please enter the Company
      </small>
    </div>
    <div class="form-group">
        <label for="">How did you know about this presentation?</label>
        <select class="form-control" name="">
          <option value=""></option>
          <option value="">Company Website</option>
          <option value=""> Word-of-mouth</option>
          <option value="">Social sites</option>
          <option value="">Others</option>
        </select>
      </div>
    <div class="form-group">
      <input class="btn btn-primary" type="reset" value="Reset">
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Register" [disabled]="!signUpReactiveForm.valid">
    </div>
  </form>
</div>